.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
    margin: 0;
}

.pagenr {
  border: 1px solid #ffffff41;
  display: inline-block;
  height: 22px;
  width: 70px;
  color:#fff;
  background-color: #000000ad;
  padding:2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8x;
  border-radius: 0px;
}
.pagenr:hover {
    background-color: #1e90ff;
}

span {
  color:rgb(255, 255, 255);
}