.bgcontainer{
    background-image: url("../../img/Landing\ Page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.lpcontainer {
    display:flex;
    width: 1260px;
    right: 20% auto;
    margin: 100px solid salmon;
   
        
}
.but{
    height: 50px;
    width: 150px;
    right: 120px;
    background-color: #596e82;
    margin-top: 30px;
    margin-left: 680px;
    border-radius:10%;
    box-shadow:3px 2px 5px 1px rgb(214, 83, 22);
}
.but:hover{
    cursor: pointer;
    font-style:italic;
    background-color: #e1622f;
    color: #fff;
    box-shadow:3px 2px 10px 1px rgb(165, 11, 75);
}
