.wrapper {
    display:flex;
    margin: 1px;
    width: 1260px;
    right: 20% auto;
  /*  background: bisque;*/
  }
  .detimg{
    display:flex;
    margin-left: auto;
    margin-right: auto;
  }
  .contarea {
    display:flex;
    background: rgba(107, 102, 88, 0.815);
    flex-direction: column;
    justify-content: center;
    margin: 300px;
    margin-top: 0px;
    border:3px solid rgb(0, 0, 0);
    width: 900px;
  }
  .lineflex{
    display:flex;
    justify-content: space-around;
    align-content:space-around;
    padding: 1px;
    margin: 1px;
  }
  
  h3{
    display:flex;
    justify-content: space-around;
    align-content:space-around;
    padding: 1px;
    margin: 1px;
    color: black;
  }
  h5{
    display:flex;
    justify-content: space-around;
    align-content:space-around;
    padding: 1px;
    margin: 1px;
  }
  .botback {
    padding:1em;
    margin-top: 5px;
    background:#000000;
    color: #fff;
    border:1;
    height: 40px;
    border-color: #ffffff41;
    padding: 10px 50px;
    border-radius: 35px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }
  .botback:hover {
    background-color:#1e90ff;
    color: rgb(63, 6, 6); 
  }